:root {
    --background: #000;
}

canvas {
    background-color: var(--background);
    border: black, 10px;
    border-style: solid;
}

.form{
    padding-left: 10px;
    padding-bottom: 10px;
}

#colorVectorA_red{
    color: red;
}

#colorVectorA_blue{
    color: blue;
}

.divWrapperValue{
    display: flex;
}

p{
    padding-left: 5px;
    padding-right: 5px;
}
