:root {
    --background: #000;
}

canvas {
    background-color: var(--background);
}

.form{
    padding: 10px;
}

canvas{
    border: black, 10px;
    border-style: solid;
}

#colorVectorA_red{
    color: red;
}

#colorVectorA_blue{
    color: blue;
}
